@charset "UTF-8";
/*regra @charset caso haja problemas com acentuação */

body{ 
    background-color: aquamarine;
    color: black;
    font-size: 12pt;
    font-family: Arial;
}

h1{
    color: red;
}

a{
    color: brown;
    text-decoration: nome;
}
